Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/

fix(config/jobs/build-prow-images): move publish step to postsubmit
  config/jobs/build-prow-images/publish-images.yaml
Due: none

fix(images/build-drivers/build-drivers.sh): exit with 0
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

update: drivers (2021-05-27) (#411)
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.8.0-1031-aws_33.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_5.8.0-52-generic_59.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

refactor(images/build-drivers/build-drivers.sh): allow to specify kernel version
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

ci(config/jobs/build-drivers): add missing ubuntu dbg job with linux 3
  config/jobs/build-drivers/ubuntu-aws.yaml
  config/jobs/build-drivers/ubuntu-generic.yaml
Due: none

style(images/build-drivers/build-drivers.sh): make indentation uniform
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

refactor(images/build-drivers/build-drivers.sh): wip
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

refactor(config/jobs/build-drivers): split jobs file and ubuntu jobs per kernel version
  config/jobs/build-drivers/amazonlinux.yaml
  config/jobs/build-drivers/build-drivers.yaml
  config/jobs/build-drivers/centos.yaml
  config/jobs/build-drivers/debian.yaml
  config/jobs/build-drivers/ubuntu-aws.yaml
  config/jobs/build-drivers/ubuntu-generic.yaml
Due: none

chore(images/build-drivers/build-drivers.sh): rename variables
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

feat(images/build.sh): add script to build-only images
  images/build.sh
Due: none

fix(config/clusters/storage.tf): remove resource dependency loop issue
  config/clusters/storage.tf
Due: none

chore(config/clusters/terraform_state.tf): prevent from terrascan aws.s3bucket.ds.high.1043 rule false positive
  config/clusters/terraform_state.tf
Due: none

terrascan fix
  .circleci/config.yml
Due: none

ci: ignore also aws.dynamodb.logging.medium.007 terrascan rego rule
  .circleci/config.yml
Due: none

Add support for v20210526 Amazon EKS AMIs
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

tweaking lgtm to reduce test-retriggering
  config/plugins.yaml
Due: none

update(driverkit/config): new drivers (2021-06-02)
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.189.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-67-generic_101.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

Bump prow from v20210604-95cc9f4b68 to v20210609-402d3ba6b7
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

fixing issue for join url
  config/plugins.yaml
Due: none

starting process of cluster upgrades
  config/clusters/eks.tf
  docs/update-cluster.md
Due: none

fixing terrascan, and tightning SG rules
  .circleci/config.yml
  config/clusters/security_groups.tf
Due: none

feat(images/ghissue): add ghissue image to open gh issues
  images/ghissue/Dockerfile
  images/ghissue/Makefile
  images/ghissue/entrypoint.sh
Due: none

feat(config/jobs/recurring-ghissues): add recurring gh issue opening job for eks operations
  config/jobs/recurring-ghissues/prow-eks-upgrade.yaml
Due: none
