Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

Bump prow from v20220318-1a1db3d5d8 to v20220408-547c14a0ca
  config/config.yaml
  config/jobs/arm-build/arm-build.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

Add configs for CentOS 8-Stream kernels 4.18.0-365.el8.x86_64, 4.18.0-373.el8.x86_64
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/centos_4.18.0-373.el8.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

Add Rocky Linux kmod configs
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/rocky_4.18.0-348.12.2.el8_5.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/rocky_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/rocky_4.18.0-348.20.1.el8_5.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/rocky_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/rocky_4.18.0-348.el8.0.2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/rocky_4.18.0-348.12.2.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/rocky_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/rocky_4.18.0-348.20.1.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/rocky_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/rocky_4.18.0-348.el8.0.2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/rocky_4.18.0-348.12.2.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/rocky_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/rocky_4.18.0-348.20.1.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/rocky_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/rocky_4.18.0-348.el8.0.2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/rocky_4.18.0-348.12.2.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/rocky_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/rocky_4.18.0-348.20.1.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/rocky_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/rocky_4.18.0-348.el8.0.2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/rocky_4.18.0-348.12.2.el8_5.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/rocky_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/rocky_4.18.0-348.20.1.el8_5.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/rocky_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/rocky_4.18.0-348.el8.0.2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Fix naming errors
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-373.el8.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/centos_4.18.0-365.el8.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/centos_4.18.0-373.el8.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

Bump prow from v20220408-547c14a0ca to v20220414-949f7bddd3
  config/config.yaml
  config/jobs/arm-build/arm-build.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config/org.yaml): add Andreagit97
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

chore(config/local): introduce local environment
  Makefile
  README.md
  config/local/config.yaml
  config/local/jobs/OWNERS
  config/local/jobs/README.md
  config/local/jobs/config.yaml
  config/local/jobs/peribolos/peribolos.yaml
  config/local/kind.yaml
  config/local/minio/service-account.json
  config/local/minio/values.yaml
  config/local/org.yaml
  config/local/plugins.yaml
  config/local/prow/OWNERS
  config/local/prow/branchprotector.yaml
  config/local/prow/build-drivers-serviceaccount.yaml
  config/local/prow/build-plugins-serviceaccount.yaml
  config/local/prow/cert-manager.yaml
  config/local/prow/check-config.yaml
  config/local/prow/crier.yaml
  config/local/prow/deck.yaml
  config/local/prow/ghproxy.yaml
  config/local/prow/hook.yaml
  config/local/prow/horologium.yaml
  config/local/prow/ingress.yaml
  config/local/prow/needs-rebase.yaml
  config/local/prow/permissions.md
  config/local/prow/prow-controller-manager.yaml
  config/local/prow/prowjob_custromresourcedefinition.yaml
  config/local/prow/pushgateway.yaml
  config/local/prow/saymyname.yaml
  config/local/prow/sinker.yaml
  config/local/prow/statusreconciler.yaml
  config/local/prow/test_pod_namespace.yaml
  config/local/prow/tide.yaml
  config/local/prow/update-jobs.yaml
  tools/deploy_prow_local.sh
Due: none

chore: add test-infra to organization
  config/local/org.yaml
Due: none

Add missing configs for amazonlinux2 5.10.* series
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.102-99.473.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.106-102.504.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.109-104.500.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.50-44.131.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.59-52.142.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.10.62-55.141.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.102-99.473.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.106-102.504.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.109-104.500.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.50-44.131.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.59-52.142.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.10.62-55.141.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.102-99.473.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.106-102.504.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.109-104.500.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.50-44.131.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.59-52.142.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.10.62-55.141.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.102-99.473.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.106-102.504.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.109-104.500.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.50-44.131.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.59-52.142.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.10.62-55.141.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.102-99.473.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.106-102.504.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.109-104.500.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.50-44.131.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.59-52.142.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.10.62-55.141.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

chore(config/local/jobs): introduce local check-prow-config pre/post-submit job
  config/local/jobs/check-prow-config/check-prow-config.yaml
Due: none

feat: upgrade driverkit to 0.7.0
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

add missing AML2 5.4.188-104.359 kernel version
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

fix: remove unsupported eBPF probe build from AL2 4.9.x kernels
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.70-2.243.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.75-1.56.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.76-38.79.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.77-41.59.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.81-44.57.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.85-46.56.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.9.85-47.59.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.70-2.243.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.75-1.56.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.76-38.79.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.77-41.59.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.81-44.57.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.85-46.56.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.9.85-47.59.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.70-2.243.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.75-1.56.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.76-38.79.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.77-41.59.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.81-44.57.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.85-46.56.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.9.85-47.59.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.70-2.243.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.75-1.56.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.76-38.79.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.77-41.59.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.81-44.57.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.85-46.56.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.9.85-47.59.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.70-2.243.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.75-1.56.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.76-38.79.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.77-41.59.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.81-44.57.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.85-46.56.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_4.9.85-47.59.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

update(config): simplify prow config and plugins files
  config/config.yaml
  config/plugins.yaml
Due: none

update(config/jobs/check-prow-config): make checkconfig strict and triggered only if prow config files changed
  config/jobs/check-prow-config/check-prow-config.yaml
Due: none

feat(driverkit): add action to generate configs from crawled kernel releases
  driverkit/Makefile
  driverkit/utils/scrape_and_generate
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

feat(images/update-dbg): containerize the dbg update action
  images/update-dbg/Dockerfile
  images/update-dbg/Makefile
  images/update-dbg/entrypoint.sh
Due: none

feat(config/jobs/update-dbg): add prowjob
  config/jobs/update-dbg/update-dbg.yaml
Due: none

fix(driverkit/utils/generate): set a default kernel version where missing
  driverkit/utils/generate
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(config/org.yaml): add repo and team for kernel-crawler
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): add kernel-crawler repo
  config/config.yaml
  config/plugins.yaml
Due: none

update: switch to golang:1.18 base image.
  images/build-plugins/Dockerfile
Due: none

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-new-drivers-centos-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
