Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

update(config): remove release note requirements from plugins repository
  config/config.yaml
  config/plugins.yaml
Due: none

update(config/jobs/build-plugins): add postsubmit job to update readme when plugin registry changes
  config/jobs/build-plugins/build-plugins.yaml
Due: none

update(build-plugins): update update-readme-postsubmit to automatically open a pr
  config/jobs/build-plugins/build-plugins.yaml
  images/build-plugins/Dockerfile
  images/build-plugins/update-readme.sh
Due: none

update(images/build-plugins): add script to automatically update README.md
  images/build-plugins/Dockerfile
  images/build-plugins/update-readme.sh
Due: none

update(build-plugins): add script for building plugins and check registry at pre-submit
  config/jobs/build-plugins/build-plugins.yaml
  images/build-plugins/Dockerfile
  images/build-plugins/build.sh
Due: none

Bump prow from v20220107-bf45c6e760 to v20220114-25626d8ef5
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

fix(build-plugins): remove extra_refs from build-plugins-update-readme-postsubmit
  config/jobs/build-plugins/build-plugins.yaml
Due: none

Adds amazonlinux2_5.4.162-86.275.amzn2.x86_64_1
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.162-86.275.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

update driverkit
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

Add 4.14.256-197.484.amzn2.x86_64 probe support Signed-off-by: Miguel Veliz <mveliz@frame.io>
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.14.256-197.484.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.14.256-197.484.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.256-197.484.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

fix(script): correctly escapes newline character
  images/build-plugins/update-readme.sh
Due: none

Fix naming issues in CentOS 8.5 configs
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-348.2.1.el8.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-348.7.1.el8.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-348.2.1.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-348.7.1.el8.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-348.2.1.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-348.7.1.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-348.7.1.el8_5.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

Bump prow from v20220114-25626d8ef5 to v20220121-8b2d5086e4
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

Add support for new driver
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.162-86.275.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Updating commit message to include DCO
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.162-86.275.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Add new driver 5.4.162-86.275.amzn2.x86_64
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.162-86.275.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Adding probe
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.162-86.275.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Add config for centos_4.18.0-358.el8.x86_64
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-358.el8.x86_64.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/centos_4.18.0-358.el8.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-358.el8.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

fix(driverkit/utils): fix bash condition that prevented SKIP_EXISTING from actually being honored
  driverkit/utils/build
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Add amazonlinux2_4.14.246-187.474.amzn2.x86_64 BPF
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.14.246-187.474.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_4.14.246-187.474.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_4.14.246-187.474.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.246-187.474.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

update(config): protect branch v0.30 for falco-website
  config/config.yaml
Due: none

Bump prow from v20220121-8b2d5086e4 to v20220128-eb56385920
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

Fix filename for centos_4.18.0-358.el8.x86_64
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/centos_4.18.0-358.el8.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

Add config for amazonlinux2_5.4.172-90.336
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.172-90.336.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.4.172-90.336.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.172-90.336.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.172-90.336.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Add configs for latest driverversion
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-147.0.3.el8_1.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-147.3.1.el8_1.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-147.5.1.el8_1.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-147.8.1.el8_1.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-147.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.1.2.el8_2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.14.2.el8_2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.19.1.el8_2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.28.1.el8_2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.6.3.el8_2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-193.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-240.1.1.el8_3.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-240.10.1.el8_3.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-240.15.1.el8_3.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-240.22.1.el8_3.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-240.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-305.10.2.el8_4.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-305.12.1.el8_4.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-305.17.1.el8_4.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-305.19.1.el8_4.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-305.7.1.el8_4.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-348.2.1.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-348.7.1.el8_5.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-348.el8.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.1.2.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.11.1.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.11.2.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.4.2.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.7.1.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.7.2.el8_0.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/centos_4.18.0-80.el8.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-new-drivers-centos-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
