Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, validate-new-drivers-ubuntu-aws-3-presubmit, validate-new-drivers-ubuntu-aws-4-presubmit, validate-new-drivers-ubuntu-aws-5-presubmit, build-new-drivers-ubuntu-aws-3-postsubmit, build-new-drivers-ubuntu-aws-3-postsubmit-arm, build-new-drivers-ubuntu-aws-4-postsubmit, build-new-drivers-ubuntu-aws-4-postsubmit-arm, build-new-drivers-ubuntu-aws-5-postsubmit, build-new-drivers-ubuntu-aws-5-postsubmit-arm, build-new-drivers-ubuntu-azure-3-presubmit, build-new-drivers-ubuntu-azure-4-presubmit, build-new-drivers-ubuntu-azure-5-presubmit, build-new-drivers-ubuntu-azure-3-postsubmit, build-new-drivers-ubuntu-azure-4-postsubmit, build-new-drivers-ubuntu-azure-5-postsubmit, validate-new-drivers-ubuntu-gke-3-presubmit, validate-new-drivers-ubuntu-gke-4-presubmit, validate-new-drivers-ubuntu-gke-5-presubmit, build-new-drivers-ubuntu-gke-3-postsubmit, build-new-drivers-ubuntu-gke-4-postsubmit, build-new-drivers-ubuntu-gke-5-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: DBG_MAKE_BUILD_TARGET
        value: validate
  ...

deps(config/clusters/tf): upgrade terraform to latest stable
  config/clusters/.terraform.lock.hcl
  config/clusters/global.tf
  config/clusters/terraform_versions.tf
  config/clusters/vpc.tf
Due: none

update(tf): update scripts, since tf 0.15.x they don't get the directory as a positional parameter
  tools/delete.sh
  tools/deploy_terraform.sh
Due: none

fix(tf): remove positional directory from apply/destroy
  tools/delete.sh
  tools/deploy_terraform.sh
Due: none

new(tf): add permissions for GitHub Actions on rules repo
  config/clusters/iam.tf
Due: none

update(tf): more granular permissions
  config/clusters/iam.tf
Due: none

new(driverkit): configs regenerated after each dbg update
  driverkit/Makefile
  driverkit/README.md
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

fix(driverkit): fixed dbg cleanup.
  driverkit/Makefile
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

fix(driverkit/makefile): remove targets overlap
  driverkit/Makefile
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Bump prow from v20230113-8f2ffbe0d4 to v20230120-5ca317e736
  config/config.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): initial rules prow configuration
  config/plugins.yaml
Due: none

chore(config): add milestone plugin to falcoctl.
  config/plugins.yaml
Due: none

chore(config): add `test` as required ci job.
  config/config.yaml
Due: none

Bump prow from v20230120-5ca317e736 to v20230127-c2d8597baa
  config/config.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(images): updated driverkit to v0.11.1.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

cleanup(prow): removed update-syscalls prow job.
  config/clusters/ecr.tf
  config/jobs/build-prow-images/build-images.yaml
  config/jobs/build-prow-images/publish-images.yaml
  config/jobs/update-syscalls/update-syscalls.yaml
  images/update-syscalls/Dockerfile
  images/update-syscalls/Makefile
  images/update-syscalls/entrypoint.sh
Due: none

cleanup(prow): removed build/publish update-syscalls jobs
  config/clusters/ecr.tf
  config/jobs/build-prow-images/build-images.yaml
  config/jobs/build-prow-images/publish-images.yaml
Due: none

cleanup(prow): removed update-syscalls prow job.
  config/jobs/update-syscalls/update-syscalls.yaml
  images/update-syscalls/Dockerfile
  images/update-syscalls/Makefile
  images/update-syscalls/entrypoint.sh
Due: none

chore(config/clusters/ecr.tf): allow force delete on update-syscalls repo
  config/clusters/ecr.tf
Due: none

revert(config/clusters/ecr.tf): allow force delete on update-syscalls repo
  config/clusters/ecr.tf
Due: none

fix(config): update-dbg job should only run when a `list.json` file is touched.
  config/jobs/update-dbg/update-dbg.yaml
Due: none

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  validate-new-drivers-ubuntu-aws-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_3*
  validate-new-drivers-ubuntu-aws-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_4*
  validate-new-drivers-ubuntu-aws-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_5*
  build-new-drivers-ubuntu-aws-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_3*
  build-new-drivers-ubuntu-aws-3-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_3*
  build-new-drivers-ubuntu-aws-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_4*
  build-new-drivers-ubuntu-aws-4-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_4*
  build-new-drivers-ubuntu-aws-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_5*
  build-new-drivers-ubuntu-aws-5-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_5*
  build-new-drivers-ubuntu-azure-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  build-new-drivers-ubuntu-azure-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  validate-new-drivers-ubuntu-gke-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  validate-new-drivers-ubuntu-gke-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  validate-new-drivers-ubuntu-gke-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-new-drivers-ubuntu-gke-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  build-new-drivers-ubuntu-gke-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  build-new-drivers-ubuntu-gke-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
