Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, build-new-drivers-ubuntu-azure-3-presubmit, build-new-drivers-ubuntu-azure-4-presubmit, build-new-drivers-ubuntu-azure-5-presubmit, build-new-drivers-ubuntu-azure-3-postsubmit, build-new-drivers-ubuntu-azure-4-postsubmit, build-new-drivers-ubuntu-azure-5-postsubmit, validate-new-drivers-ubuntu-gke-3-presubmit, validate-new-drivers-ubuntu-gke-4-presubmit, validate-new-drivers-ubuntu-gke-5-presubmit, build-new-drivers-ubuntu-gke-3-postsubmit, build-new-drivers-ubuntu-gke-4-postsubmit, build-new-drivers-ubuntu-gke-5-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-ubuntu-azure-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  build-new-drivers-ubuntu-azure-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  validate-new-drivers-ubuntu-gke-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  validate-new-drivers-ubuntu-gke-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  validate-new-drivers-ubuntu-gke-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-new-drivers-ubuntu-gke-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  build-new-drivers-ubuntu-gke-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  build-new-drivers-ubuntu-gke-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*

new(config): split build between arm64 and x86_68
  config/jobs/build-drivers/build-new-amazonlinux.yaml
  config/jobs/build-drivers/build-new-bottlerocket.yaml
  config/jobs/build-drivers/build-new-centos.yaml
  config/jobs/build-drivers/build-new-debian.yaml
  config/jobs/build-drivers/build-new-minikube.yaml
  config/jobs/build-drivers/build-new-ubuntu-aws.yaml
  config/jobs/build-drivers/build-new-ubuntu-azure.yaml
  config/jobs/build-drivers/build-new-ubuntu-gcp.yaml
  config/jobs/build-drivers/build-new-ubuntu-generic.yaml
  config/jobs/build-drivers/build-new-ubuntu-gke.yaml
  driverkit/utils/build
  driverkit/utils/checkfiles
  images/build-drivers/build-drivers.sh
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-images-build-drivers

cleanup(driverkit): removed support for old tree
  driverkit/Makefile
  driverkit/utils/build
  driverkit/utils/checkfiles
  driverkit/utils/driverstats
  driverkit/utils/generate
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

fix(config/jobs/build-drivers): corrected nodeSelector position
  config/jobs/build-drivers/build-new-amazonlinux.yaml
  config/jobs/build-drivers/build-new-bottlerocket.yaml
  config/jobs/build-drivers/build-new-centos.yaml
  config/jobs/build-drivers/build-new-debian.yaml
  config/jobs/build-drivers/build-new-minikube.yaml
  config/jobs/build-drivers/build-new-ubuntu-aws.yaml
  config/jobs/build-drivers/build-new-ubuntu-azure.yaml
  config/jobs/build-drivers/build-new-ubuntu-gcp.yaml
  config/jobs/build-drivers/build-new-ubuntu-generic.yaml
  config/jobs/build-drivers/build-new-ubuntu-gke.yaml
Due: none

Bump prow from v20230106-0de7d15106 to v20230113-8f2ffbe0d4
  config/config.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

chore(images): bumped update-drivers-website latest driver version.
  images/update-drivers-website/index.html
Due: none

cleanup(config): dropped rebuild-all-drivers jobs.
  config/jobs/build-drivers/rebuild-all-amazonlinux.yaml
  config/jobs/build-drivers/rebuild-all-bottlerocket.yaml
  config/jobs/build-drivers/rebuild-all-centos.yaml
  config/jobs/build-drivers/rebuild-all-debian.yaml
  config/jobs/build-drivers/rebuild-all-minikube.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-aws.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-azure.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-gcp.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-generic.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-gke.yaml
Due: none

fix(config): fixed falcosecurity/rules members.
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(prow): retire 1password, use secret env variables
  Makefile
  docs/one-password.md
  tools/1password.sh
  tools/deploy_prow.sh
Due: none

new(eks): add luca.guerra to the EKS test-infra cluster
  config/clusters/eks_variables.tf
Due: none

update(config): updated client-go required status check.
  config/config.yaml
Due: none

update(config): added event-generator required status checks.
  config/config.yaml
Due: none

update(config): change a required libs job
  config/config.yaml
Due: none

update(config): updated falco-exporter required status checks.
  config/config.yaml
Due: none

fix(tf): remove positional directory from apply/destroy
  tools/delete.sh
  tools/deploy_terraform.sh
Due: none

update(tf): update scripts, since tf 0.15.x they don't get the directory as a positional parameter
  tools/delete.sh
  tools/deploy_terraform.sh
Due: none

update(tf): update deps
  config/clusters/.terraform.lock.hcl
Due: none

fix(tf): resolve warnings
  config/clusters/storage.tf
  config/clusters/terraform_state.tf
Due: none

deps(config/clusters/tf): upgrade terraform to latest stable
  config/clusters/.terraform.lock.hcl
  config/clusters/global.tf
  config/clusters/terraform_versions.tf
  config/clusters/vpc.tf
Due: none

update(org.yaml): add jasondellaluce to libs-maintainers
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit
