Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

update(config/plugins.yaml): configure prow plugins for deploy-kubernetes repo
  config/plugins.yaml
Due: none

update(images): modify update-falco-k8s-manifests to work with the new repo
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

fix(images): make pr-creator work again
  images/update-falco-k8s-manifests/Dockerfile
Due: none

update(config/org.yaml): set up deploy-kubernetes repo and team
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config/config.yaml): configure deploy-kubernetes repo
  config/config.yaml
Due: none

update: cleanup missing users
  config/org.yaml
  images/update-maintainers/persons.json
Due: build-images-update-maintainers, peribolos-pre-submit, peribolos-post-submit

add Issif as member for website
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

fix(images/update-falco-k8s-manifests): correct target branch
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

ci: add missing update-dbg image build and push jobs
  config/jobs/build-prow-images/build-images.yaml
  config/jobs/build-prow-images/publish-images.yaml
Due: none

new(job,images): ported kernel-crawler action to prow.
  config/jobs/update-kernels/update-kernels.yaml
  images/update-kernels/Dockerfile
  images/update-kernels/Makefile
  images/update-kernels/entrypoint.sh
Due: none

update(config): add new update-kernels image to build-prow-images.
  config/jobs/build-prow-images/build-images.yaml
  config/jobs/build-prow-images/publish-images.yaml
Due: none

fix(config): update required_status_checks for Falco
  config/config.yaml
Due: none

fix(config/jobs): correct repo and branch for update-falco-k8s-manifests
  config/jobs/update-falco-k8s-manifests/update-falco-k8s-manifests.yaml
Due: none

fix(images): fixed entrypoint function name.
  images/update-kernels/entrypoint.sh
Due: none

chore(config): dropped arm-build job as latest Falco does now support arm64.
  config/clusters/ecr.tf
  config/jobs/arm-build/arm-build.yaml
  tools/create_ecr.sh
Due: none

update(images): updated prcreator images to golang 1.18.
  images/autobump/Dockerfile
  images/update-dbg/Dockerfile
  images/update-kernels/Dockerfile
Due: build-images-autobump

20220610 - drivers for Ubuntu 20.04
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-100-generic_113.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-104-generic_118.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-105-generic_119.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-107-generic_121.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-109-generic_123.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-110-generic_124.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-113-generic_127.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-117-generic_132.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-91-generic_102.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-92-generic_103.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-94-generic_106.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-97-generic_110.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/ubuntu-generic_5.4.0-99-generic_112.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

cleanup(config): dropped reference to arm-build job.
  config/clusters/ecr-iam.tf
Due: none

fix(config): update-kernels should use main in place of master.
  config/jobs/update-kernels/update-kernels.yaml
Due: none

feat(config/clusters): add update-kernels oci image repo
  config/clusters/ecr-iam.tf
  config/clusters/ecr.tf
Due: none

fix(scripts): use single quotes to escape newline chars in "body" variable
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

feat(config/clusters): add update-dbg oci image repo
  config/clusters/ecr-iam.tf
  config/clusters/ecr.tf
Due: none

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-new-drivers-centos-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
