Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, validate-new-drivers-ubuntu-aws-3-presubmit, validate-new-drivers-ubuntu-aws-4-presubmit, validate-new-drivers-ubuntu-aws-5-presubmit, build-new-drivers-ubuntu-aws-3-postsubmit, build-new-drivers-ubuntu-aws-3-postsubmit-arm, build-new-drivers-ubuntu-aws-4-postsubmit, build-new-drivers-ubuntu-aws-4-postsubmit-arm, build-new-drivers-ubuntu-aws-5-postsubmit, build-new-drivers-ubuntu-aws-5-postsubmit-arm, build-new-drivers-ubuntu-azure-3-presubmit, build-new-drivers-ubuntu-azure-4-presubmit, build-new-drivers-ubuntu-azure-5-presubmit, build-new-drivers-ubuntu-azure-3-postsubmit, build-new-drivers-ubuntu-azure-4-postsubmit, build-new-drivers-ubuntu-azure-5-postsubmit, validate-new-drivers-ubuntu-gke-3-presubmit, validate-new-drivers-ubuntu-gke-4-presubmit, validate-new-drivers-ubuntu-gke-5-presubmit, build-new-drivers-ubuntu-gke-3-postsubmit, build-new-drivers-ubuntu-gke-4-postsubmit, build-new-drivers-ubuntu-gke-5-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, publish-images-autobump, publish-images-build-drivers, publish-images-build-plugins, publish-images-update-rules-index, publish-images-golang, publish-images-update-jobs, publish-images-update-maintainers, publish-images-update-falco-k8s-manifests, publish-images-build-docker-dind, publish-images-update-dbg, publish-images-update-kernels, publish-images-update-drivers-website, echo-hi, peribolos-pre-submit, peribolos-post-submit

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: DBG_MAKE_BUILD_TARGET
        value: validate
  ...

update(images): update driverkit to latest version.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers, publish-images-build-drivers

chore(config/prow/monitoring): cleanup ci and extra assets
  config/prow/monitoring/mixins/vendor/github.com/kubernetes-monitoring/kubernetes-mixin/.circleci/config.yml
  config/prow/monitoring/mixins/vendor/github.com/kubernetes-monitoring/kubernetes-mixin/SECURITY_CONTACTS
Due: none

chore(config/prow/monitoring): cleanup unneeded infra dependencies
  config/prow/monitoring/Makefile
  config/prow/monitoring/mixins/Makefile
Due: none

chore(config/prow/monitoring: cleanup k8s owners files
  config/prow/monitoring/OWNERS
  config/prow/monitoring/mixins/vendor/github.com/kubernetes-monitoring/kubernetes-mixin/OWNERS
Due: none

clean(config/prow/monitoring): remove alertmanager receivers
  config/prow/monitoring/secrets/alertmanager-prow_secret.yaml
Due: none

chore(config/prow/monitoring): remove gke managedcertificate
  config/prow/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
Due: none

chore(config/prow/monitoring): remove boskos resources
  config/prow/monitoring/grafana_deployment.yaml
  config/prow/monitoring/mixins/grafana_dashboards/boskos-http.jsonnet
  config/prow/monitoring/mixins/grafana_dashboards/boskos.jsonnet
  config/prow/monitoring/mixins/lib/config.libsonnet
  config/prow/monitoring/mixins/lib/config_util.libsonnet
  config/prow/monitoring/mixins/prometheus/boskos_alerts.libsonnet
  config/prow/monitoring/mixins/prometheus/prometheus.libsonnet
  config/prow/monitoring/secrets/alertmanager-prow_secret.yaml
Due: none

chore(config/prow/monitoring): update urls
  config/prow/monitoring/README.md
  config/prow/monitoring/additional-scrape-configs_secret.yaml
  config/prow/monitoring/grafana_expose.yaml
  config/prow/monitoring/mixins/lib/config.libsonnet
  config/prow/monitoring/monitoring-prow-k8s-io_managedcertificate.yaml
Due: none

Bump prow from v20230303-d699058042 to v20230309-adf0d41516
  config/config.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

feat(infra/acm): add certificate for monitoring.prow.falco.org
  config/clusters/kubernetes.tf
  config/clusters/monitoring.tf
Due: none

chore(config/prow/monitoring: temporarily expose grafana http only
  config/prow/monitoring/grafana_expose.yaml
Due: none

feat(config/prow): expose metrics ports for prometheus servicemonitors
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/tide.yaml
Due: none

fix(config/prow/monitoring): set existent standard storageclass
  config/prow/monitoring/grafana_ingress.yaml
  config/prow/monitoring/prow_alertmanager.yaml
  config/prow/monitoring/prow_prometheus.yaml
Due: none

fix(config): fix deck.yaml indentation.
  config/prow/deck.yaml
Due: none

docs(proposals): align Falco Infra Admins with governace
  proposals/20200925-admins.md
Due: none

wip
  config/prow/monitoring/metrics-server_servicemonitors.yaml
Due: none

feat(config/prow): add kube-state-metrics deployment
  config/prow/kube-state-metrics_deployment.yaml
  config/prow/kube-state-metrics_rbac.yaml
  config/prow/kube-state-metrics_service.yaml
Due: none

chore(config/prow): add missing labels on prow services
  config/prow/deck.yaml
  config/prow/hook.yaml
  config/prow/tide.yaml
Due: none

new(ci): added manifests validation ci.
  .github/workflows/validate_manifests.yml
Due: none

chore: example peribolos config syncer commit
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

chore(org.yaml): update test-infra-maintainers team members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): add `manifests-validation` to required status checks for test-infra repo.
  config/config.yaml
Due: none

Bump prow from v20230309-adf0d41516 to v20230315-6d54c174f4
  config/config.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

chore(org.yaml): update evolution-maintainers team members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

new(config/prow): added prometheus node exporter
  config/prow/monitoring/node-exporter_servicemonitors.yaml
  config/prow/node-exporter_deployment.yaml
  config/prow/node-exporter_rbac.yaml
  config/prow/node-exporter_service.yaml
Due: none

chore(tools): added monitoring deployment to deploy_prow script.
  tools/deploy_prow.sh
Due: none

chore(prow/config): added missing new-lines in yaml
  config/prow/node-exporter_deployment.yaml
  config/prow/node-exporter_service.yaml
Due: none

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux_*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?amazonlinux2_*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  validate-new-drivers-ubuntu-aws-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_3*
  validate-new-drivers-ubuntu-aws-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_4*
  validate-new-drivers-ubuntu-aws-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-aws_5*
  build-new-drivers-ubuntu-aws-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_3*
  build-new-drivers-ubuntu-aws-3-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_3*
  build-new-drivers-ubuntu-aws-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_4*
  build-new-drivers-ubuntu-aws-4-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_4*
  build-new-drivers-ubuntu-aws-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/x86_64/ubuntu-aws_5*
  build-new-drivers-ubuntu-aws-5-postsubmit-arm: any of: ^driverkit/config/[a-z0-9.+-]{5,}/aarch64/ubuntu-aws_5*
  build-new-drivers-ubuntu-azure-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  build-new-drivers-ubuntu-azure-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  validate-new-drivers-ubuntu-gke-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  validate-new-drivers-ubuntu-gke-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  validate-new-drivers-ubuntu-gke-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-new-drivers-ubuntu-gke-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_3*
  build-new-drivers-ubuntu-gke-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_4*
  build-new-drivers-ubuntu-gke-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-gke_5*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  publish-images-autobump: any of: ^images/autobump/
  publish-images-build-drivers: any of: ^images/build-drivers/
  publish-images-build-plugins: any of: ^images/build-plugins/
  publish-images-update-rules-index: any of: ^images/update-rules-index/
  publish-images-golang: any of: ^images/golang/
  publish-images-update-jobs: any of: ^images/update-jobs/
  publish-images-update-maintainers: any of: ^images/update-maintainers/
  publish-images-update-falco-k8s-manifests: any of: ^images/update-falco-k8s-manifests/
  publish-images-build-docker-dind: any of: ^images/docker-dind/
  publish-images-update-dbg: any of: ^images/update-dbg/
  publish-images-update-kernels: any of: ^images/update-kernels/
  publish-images-update-drivers-website: any of: ^images/update-drivers-website/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
