Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/

fixing prow lifecycle bot
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
Due: none

chore: resolve status drift
  config/distribution/distribution.tf
Due: none

docs(config/distribution): update distribution infra scope
  config/distribution/README.md
Due: none

feat(config/distribution): add aws oci repositories for falcosidekick
  config/distribution/.terraform.lock.hcl
  config/distribution/containers.tf
  config/distribution/terraform_providers.tf
  config/distribution/terraform_versions.tf
Due: none

ci: prevent critical resources from destroy
  config/distribution/containers.tf
  config/distribution/distribution.tf
Due: none

chore(config/clusters): make arm eks nodegroup scaling config configurable
  config/clusters/TERRAFORM.md
  config/clusters/eks.tf
  config/clusters/eks_variables.tf
Due: none

Bump prow from v20210806-c95403cd67 to v20210813-c9ba83f08c
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

Add 5.4.95-42.163.amzn2.x86_64 to 17f5df52a7d9ed6bb12d3b1768460def84
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.95-42.163.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Add 5.4.95-42.163.amzn2.x86_64 to 17f5df52a7d9ed6bb12d3b1768460def84 Signed-off-by: goroi <georgi.ivanov77@gmail.com>
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.95-42.163.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

creating signed PR for #479 to add EKS AMI support
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update: drivers (2021-08-17)
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.11.0-31-generic_33.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

Update drivers (2021-08-17) (#490)
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.11.0-31-generic_33.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_4.14.243-185.433.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1016-aws_17.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.11.0-31-generic_33.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

update(driverkit/config): new drivers (2021-08-22)
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.95-42.163.amzn2.x86_64_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.11.0-1017-aws_18.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_4.15.0-156-generic_163.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_5.11.0-33-generic_35.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_5.4.0-83-generic_93.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1017-aws_18.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_4.15.0-156-generic_163.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.11.0-33-generic_35.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.4.0-83-generic_93.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1017-aws_18.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_4.15.0-156-generic_163.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.11.0-33-generic_35.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.4.0-83-generic_93.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1017-aws_18.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_4.15.0-156-generic_163.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.11.0-33-generic_35.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.4.0-83-generic_93.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1017-aws_18.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_4.15.0-156-generic_163.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.11.0-33-generic_35.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.4.0-83-generic_93.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

Bump prow from v20210813-c9ba83f08c to v20210818-b81cb0bc7b
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

ci: use terrascan rule id instead of reference id
  .circleci/config.yml
Due: none

ci: speficy iac type
  .circleci/config.yml
Due: none

new(prow): add settings for falcosecurity/katacoda-scenarios
  config/config.yaml
Due: none

update(prow): add plugins to falcosecurity/katacoda-scenarios
  config/plugins.yaml
Due: none

update: drivers (2021-08-27)
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_4.15.0-1111-aws_118.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.11.0-1009-aws_1.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-aws_5.4.0-1056-aws_59.yaml
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/ubuntu-generic_5.11.0-20-generic_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_4.15.0-1111-aws_118.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1009-aws_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.4.0-1056-aws_59.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.11.0-20-generic_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_4.15.0-1111-aws_118.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1009-aws_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.4.0-1056-aws_59.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.11.0-20-generic_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_4.15.0-1111-aws_118.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1009-aws_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.4.0-1056-aws_59.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.11.0-20-generic_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_4.15.0-1111-aws_118.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1009-aws_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.4.0-1056-aws_59.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.11.0-20-generic_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit

Bump prow from v20210818-b81cb0bc7b to v20210827-98f54bde95
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none
