Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-presubmit, build-new-drivers-centos-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-new-drivers-centos-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/centos_.*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*

new: biuld plugins for arm64 too.
  config/jobs/build-plugins/build-plugins.yaml
  images/build-plugins/Makefile
Due: none

fix(config): make falco-aws-terraform branch protection config use the right branch
  config/config.yaml
Due: none

feat(config/branchprotector): let branchprotector run as a proper ProwJob
  config/jobs/branchprotector/branchprotector.yaml
Due: none

cleanup: remove legacy branchprotector k8s manifests
  config/prow/branchprotector.yaml
Due: none

fix(config/jobs/branchprotector): use proper config.yaml path
  config/jobs/branchprotector/branchprotector.yaml
Due: none

update: switch to golang:1.18 base image.
  images/build-plugins/Dockerfile
Due: none

update(persons): add Andrea Terzolo
  images/update-maintainers/persons.json
Due: build-images-update-maintainers

build(images): upgrade base image to golang 1.18
  images/update-maintainers/Dockerfile
Due: build-images-update-maintainers

add missing AML2 5.4.188-104.359 kernel version
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.4.188-104.359.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

update(config/org.yaml): add repo and team for libs-go-sdk
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config/org.yaml): add members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): add libs-sdk-go repo
  config/config.yaml
  config/plugins.yaml
Due: none

Bump prow from v20220414-949f7bddd3 to v20220506-6d355b2d97
  config/config.yaml
  config/jobs/arm-build/arm-build.yaml
  config/jobs/branchprotector/branchprotector.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/jobs/lifecycle-bot/periodic-close.yaml
  config/jobs/lifecycle-bot/periodic-rotten.yaml
  config/jobs/lifecycle-bot/periodic-stale.yaml
  config/jobs/peribolos/peribolos.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: peribolos-pre-submit, peribolos-post-submit

ci(circleci): upgrade aws cli to 2.6.3
  .circleci/config.yml
Due: none

update: updated driverkit to 0.8.0.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

update(persons): add Fred Araujo
  images/update-maintainers/persons.json
Due: build-images-update-maintainers

ci(circleci/terrascan): fix bin download url
  .circleci/config.yml
Due: none

Add support for debian_5.10.0-0.bpo.9-amd64_1
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/debian_5.10.0-0.bpo.9-amd64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/debian_5.10.0-0.bpo.9-amd64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/debian_5.10.0-0.bpo.9-amd64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/debian_5.10.0-0.bpo.9-amd64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/debian_5.10.0-0.bpo.9-amd64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

add new config files for 5.4.190-107.353.amzn2
  driverkit/config/17f5df52a7d9ed6bb12d3b1768460def8439936d/amazonlinux2_5.4.190-107.353.amzn2.x86_64_1.yaml
  driverkit/config/319368f1ad778691164d33d59945e00c5752cd27/amazonlinux2_5.4.190-107.353.amzn2.x86_64_1.yaml
  driverkit/config/3aa7a83bf7b9e6229a3824e3fd1f4452d1e95cb4/amazonlinux2_5.4.190-107.353.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.190-107.353.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.4.190-107.353.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Add Secureworks to persons.json
  images/update-maintainers/persons.json
Due: build-images-update-maintainers
