Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

build-drivers-amazonlinux-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux2-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-amazonlinux2-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux2
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

build-drivers-centos-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - centos
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-debian-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - debian
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
      imagePullPolicy: Always
  ...

build-drivers-ubuntu-aws-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-aws
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-drivers-ubuntu-generic-presubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - ubuntu-generic
      env:
      - name: AWS_REGION
        value: eu-west-1
      image: 292999226676.dkr.ecr.eu-west-1.amazonaws.com/test-infra/build-drivers:latest
  ...

build-new-drivers-amazonlinux-postsubmit:
  decorate: true
  spec:
    serviceAccountName: driver-kit
    containers:
    - command:
      - /workspace/build-drivers.sh
      - amazonlinux
      env:
      - name: AWS_REGION
        value: eu-west-1
      - name: PUBLISH_S3
        value: 'true'
  ...

DCO signoff
  driverkit/config/39ae7d40496793cf3d3e7890c9bbdc202263836b/amazonlinux2_5.4.209-116.363.amzn2.x86_64_1 .yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

Rebase
  README.md
Due: none

new: prow deck
  prow/deck.yaml
Due: none

new: prow horologium
  horologium.yaml
Due: none

new: prow hook
  prow/hook.yaml
Due: none

Rebase
  .gitignore
Due: none

Add new kernel add_5.4.209-116.363.amzn2.x86_64
  driverkit/config/2.0.0+driver/x86_64/amazonlinux2_5.4.209-116.363.amzn2.x86_64_1 .yaml
  driverkit/config/39ae7d40496793cf3d3e7890c9bbdc202263836b/amazonlinux2_5.4.209-116.363.amzn2.x86_64_1 .yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.4.209-116.363.amzn2.x86_64_1 .yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

update(config/org): add core-maintainers team
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

fix(config/org.yaml): correct type
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(images): bump driverkit version to 0.9.6
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

update(config/org.yaml): add jasondellaluce to evolution-maintainers team
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

fix(config,driverkit,images): fix kernel-crawler -> test-infra dbg automation.
  config/jobs/update-dbg/update-dbg.yaml
  driverkit/utils/scrape_and_generate
  images/update-kernels/entrypoint.sh
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(config): `evolution` default branch to `main`
  config/config.yaml
Due: none

chore: correct old refs to evolution
  config/jobs/update-falco-k8s-manifests/update-falco-k8s-manifests.yaml
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

fix(images/update-maintainers): set correct GH_REPO
  images/update-maintainers/entrypoint.sh
Due: build-images-update-maintainers

update: switch branch to `main` in update-maintainers job
  config/jobs/update-maintainers/update-maintainers.yaml
  images/update-maintainers/entrypoint.sh
Due: build-images-update-maintainers

update(config): `community` and `.github` default branch to `main`
  config/config.yaml
Due: none

chore(config/plugins): update URL
  config/plugins.yaml
Due: none

update(config/plugins.yaml): kilt does not use release notes
  config/plugins.yaml
Due: none

fix(config): add missing trigger plugin to kernel-crawler
  config/plugins.yaml
Due: none

fix(config): make `kernels` branch of kernel-crawler protected.
  config/config.yaml
Due: none

chore(config/org.yaml): sorting names
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config/org.yaml): add empty settings (as templates)
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config/org.yaml): bulk sync from GH APIs
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

chore(config): cleanup removed repo configs
  config/config.yaml
  config/plugins.yaml
Due: none

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
