Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*

ci(config/jobs): run prow config check on evolution only with changes
  config/jobs/check-prow-config/check-prow-config.yaml
Due: none

update(config/org.yaml): add hbrueckner to org members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

refactor(images/autobump): make bump of component and config optional
  images/autobump/autobump.sh
  images/autobump/bump.sh
Due: build-images-autobump

ci(autobump): add autobump for evolution jobs
  config/jobs/autobump/evolution.yaml
  config/jobs/autobump/test-infra.yaml
  images/autobump/autobump.sh
Due: build-images-autobump

update(config/org.yaml): add alacuku to org members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): add loresuso to org members
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config.yaml): set some libs CI checks as required
  config/config.yaml
Due: none

update(config): update status check names
  config/config.yaml
Due: none

Adding new driverkit for amazonlinux2022_5.4.209-116.367.amzn2.x86_64 Signed-off-by:Varun varundeolase@github.com
  driverkit/config/2.0.0+driver/aarch64/amazonlinux2022_5.4.209-116.367.amzn2.aarch64.yaml
  driverkit/config/2.0.0+driver/x86_64/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
  driverkit/config/39ae7d40496793cf3d3e7890c9bbdc202263836b/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Adding new driverkit for amazonlinux2022_5.4.209-116.367.amzn2.x86_64 Signed-off-by: Varun <varundeolase@github.com>
  driverkit/config/2.0.0+driver/aarch64/amazonlinux2022_5.4.209-116.367.amzn2.aarch64.yaml
  driverkit/config/2.0.0+driver/x86_64/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
  driverkit/config/39ae7d40496793cf3d3e7890c9bbdc202263836b/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2022_5.4.209-116.367.amzn2.x86_64.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

adding new configuration files for amazonlinux2_5.4.209-116.367.amzn2
  driverkit/config/2.0.0+driver/aarch64/amazonlinux2_5.4.209-116.367.amzn2.aarch64_1.yaml
  driverkit/config/2.0.0+driver/x86_64/amazonlinux2_5.4.209-116.367.amzn2.x86_64_1.yaml
  driverkit/config/39ae7d40496793cf3d3e7890c9bbdc202263836b/amazonlinux2_5.4.209-116.367.amzn2.x86_64_1.yaml
  driverkit/config/b7eb0dd65226a8dc254d228c8d950d07bf3521d2/amazonlinux2_5.4.209-116.367.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux2-postsubmit

fix(images): fixed update-kernels image entrypoint to fetch all branches before checking out `kernels`.
  images/update-kernels/entrypoint.sh
Due: none

update(config): switch the default branch to `main`
  config/config.yaml
Due: none

update(config): protect `gh-pages` branch of falcoctl
  config/config.yaml
Due: none

update(org.yalm): sync falcoctl owners
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

ci(update-kernels): increase verbosity
  images/update-kernels/entrypoint.sh
Due: none

refactor(image/build-plugins): rename script to `on-registry-changed.sh`
  config/jobs/build-plugins/build-plugins.yaml
  images/build-plugins/Dockerfile
  images/build-plugins/on-registry-changed.sh
Due: none

update(image/build-plugins): add distribution index generation on registry changed
  images/build-plugins/on-registry-changed.sh
Due: none

fix(images/build-plugins): correct make target
  images/build-plugins/on-registry-changed.sh
Due: none

fix(images,config): properly use kernel-crawler docker image as base image for update-kernels.
  config/jobs/update-kernels/update-kernels.yaml
  images/update-kernels/Dockerfile
  images/update-kernels/entrypoint.sh
Due: none

chore: fixed kernel-crawler image name.
  images/update-kernels/Dockerfile
Due: none

fix(build-plugins/on-registry-changed.sh): correct checkout path
  images/build-plugins/on-registry-changed.sh
Due: none

chore: correct job name
  config/jobs/build-plugins/build-plugins.yaml
  images/build-plugins/on-registry-changed.sh
Due: none

Added AL2 kernel 5.4.209-116.367
  driverkit/config/2.0.0+driver/x86_64/amazonlinux2_5.4.209-116.367.amzn2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

chore(build-plugins): run dev builds only if the code has changed
  config/jobs/build-plugins/build-plugins.yaml
Due: none

fix(images/build-plugins): correct git push for dist index
  images/build-plugins/on-registry-changed.sh
Due: none
