Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*

update(config.yaml): protect v0.32 website snapshot branch
  config/config.yaml
Due: none

feat(images/docker-dind): add cosign as base builder image dep
  images/docker-dind/Dockerfile
Due: none

refactor(images): apply dry to build and publish scripts
  images/build.sh
  images/publish.sh
  images/utils.sh
Due: none

ci: always sign oci image when publishing it
  images/common.Makefile
Due: none

refactor(images/docker-dind): include cosign with multi-stage build
  images/docker-dind/Dockerfile
Due: none

feat: add prowjobs rbac to read from cosign keypair
  config/jobs/build-prow-images/publish-images.yaml
  config/prow/images-publish-rbac.yaml
  images/build.sh
  images/publish.sh
Due: none

chore(images/common): upgrade cosign to 1.13.0
  images/build-plugins/Makefile
  images/common.Makefile
Due: none

fix(images): always login to registry before build or push
  images/common.Makefile
  images/update-jobs/Makefile
Due: build-images-update-jobs

refactor(images): apply dry to images make targets
  images/autobump/Makefile
  images/build-drivers/Makefile
  images/build-libs/Makefile
  images/build.sh
  images/common.Makefile
  images/common.sh
  images/docker-dind/Dockerfile
  images/docker-dind/Makefile
  images/ghissue/Makefile
  images/golang/Makefile
  images/publish.sh
  images/update-dbg/Makefile
  images/update-falco-k8s-manifests/Makefile
  images/update-jobs/Makefile
  images/update-kernels/Makefile
  images/update-maintainers/Makefile
Due: build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers

cleanup(images/build-libs): ci has been moved to gh actions
  images/build-libs/Makefile
Due: none

ci(cosign): set keys source of truth in 1p
  tools/deploy_prow.sh
Due: none

add index.html + .go script for creating/updating the content for probes-website
  config/clusters/ecr.tf
  config/jobs/build-prow-images/build-images.yaml
  config/jobs/build-prow-images/publish-images.yaml
  config/jobs/update-drivers-website/update-drivers-website.yaml
  images/update-drivers-website/Dockerfile
  images/update-drivers-website/Makefile
  images/update-drivers-website/entrypoint.sh
  images/update-drivers-website/index.html
  images/update-drivers-website/updateDriversWebsite.go
Due: none

fix(images): fixed update-drivers-website image build and run.
  images/update-drivers-website/Dockerfile
  images/update-drivers-website/entrypoint.sh
Due: none

fix(config): add proper serviceAccountName to have rw access to s3 drivers bucket.
  config/jobs/update-drivers-website/update-drivers-website.yaml
Due: none

chore(images,config): add index.html to update-drivers-website image.
  config/jobs/update-drivers-website/update-drivers-website.yaml
  images/update-drivers-website/Dockerfile
  images/update-drivers-website/entrypoint.sh
Due: none

chore(config): moved update-drivers-website cron.
  config/jobs/update-drivers-website/update-drivers-website.yaml
Due: none

encode URI for json + add a .gitignore for locale devs
  images/update-drivers-website/.gitignore
  images/update-drivers-website/index.html
Due: none

change freq for update drivers website to every 2h
  config/jobs/update-drivers-website/update-drivers-website.yaml
Due: none

encode only a component
  images/update-drivers-website/index.html
Due: none

update(config): renamed master to main in event-generator.
  config/config.yaml
Due: none

new(config): added ubuntu azure, gke, gcp flavors jobs.
  config/jobs/build-drivers/build-new-ubuntu-azure.yaml
  config/jobs/build-drivers/build-new-ubuntu-gcp.yaml
  config/jobs/build-drivers/build-new-ubuntu-gke.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-azure.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-gcp.yaml
  config/jobs/build-drivers/rebuild-all-ubuntu-gke.yaml
Due: none

update(images): bump driverkit to 0.10.1.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

update(images): bumped build-drivers driverkit to 0.10.0.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

update(images): updated to driverkit 0.10.2.
  driverkit/utils/generate
  images/build-drivers/Dockerfile
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-images-build-drivers

fix(dbg): avoid passing a huge kernelconfigdata (see: flatcar) as env variable.
  driverkit/utils/generate
  driverkit/utils/scrape_and_generate
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit
