Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-amazonlinux-postsubmit, build-drivers-amazonlinux2-postsubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-new-drivers-amazonlinux-presubmit, build-new-drivers-amazonlinux2-presubmit, build-new-drivers-amazonlinux-postsubmit, build-new-drivers-amazonlinux2-postsubmit, build-new-drivers-centos-2-presubmit, build-new-drivers-centos-3-presubmit, build-new-drivers-centos-4-presubmit, build-new-drivers-centos-5-presubmit, build-new-drivers-centos-2-postsubmit, build-new-drivers-centos-3-postsubmit, build-new-drivers-centos-4-postsubmit, build-new-drivers-centos-5-postsubmit, build-new-drivers-debian-presubmit, build-new-drivers-debian-postsubmit, build-new-drivers-ubuntu-azure-3-presubmit, build-new-drivers-ubuntu-azure-4-presubmit, build-new-drivers-ubuntu-azure-5-presubmit, build-new-drivers-ubuntu-azure-3-postsubmit, build-new-drivers-ubuntu-azure-4-postsubmit, build-new-drivers-ubuntu-azure-5-postsubmit, build-drivers-ubuntu-generic-3-presubmit, build-drivers-ubuntu-generic-4-presubmit, build-drivers-ubuntu-generic-5-presubmit, build-drivers-ubuntu-generic-3-postsubmit, build-drivers-ubuntu-generic-4-postsubmit, build-drivers-ubuntu-generic-5-postsubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi, peribolos-pre-submit, peribolos-post-submit

Path conditions:
  build-drivers-amazonlinux-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$)
  build-drivers-amazonlinux2-presubmit: (any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*) or (any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$)
  build-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-new-drivers-amazonlinux-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-amazonlinux-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux_.*
  build-new-drivers-amazonlinux2-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/amazonlinux2_.*
  build-new-drivers-centos-2-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-2-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-centos-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?centos_*
  build-new-drivers-debian-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-debian-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?debian_*
  build-new-drivers-ubuntu-azure-3-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-presubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  build-new-drivers-ubuntu-azure-3-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_3*
  build-new-drivers-ubuntu-azure-4-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_4*
  build-new-drivers-ubuntu-azure-5-postsubmit: any of: ^driverkit/config/[a-z0-9.+-]{5,}/(.+/)?ubuntu-azure_5*
  build-drivers-ubuntu-generic-3-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-presubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-3-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-4-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-drivers-ubuntu-generic-5-postsubmit: any of: ^driverkit/config/[a-z0-9]{40,}/ubuntu-generic_.*
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/
  peribolos-pre-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*
  peribolos-post-submit: any of: ^config/org.yaml$|^config/jobs/peribolos/.*

new(driverkit): validate only presubmit build drivers jobs
  config/jobs/build-drivers/build-drivers.local
  config/jobs/build-drivers/build-new-amazonlinux.yaml
  config/jobs/build-drivers/build-new-centos.yaml
  config/jobs/build-drivers/build-new-debian.yaml
  config/jobs/build-drivers/build-new-minikube.yaml
  config/jobs/build-drivers/build-new-ubuntu-aws.yaml
  config/jobs/build-drivers/build-new-ubuntu-azure.yaml
  config/jobs/build-drivers/build-new-ubuntu-gcp.yaml
  config/jobs/build-drivers/build-new-ubuntu-generic.yaml
  config/jobs/build-drivers/build-new-ubuntu-gke.yaml
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

docs(images): updated a comment
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

chore(config): rename presubmit jobs
  config/jobs/build-drivers/build-drivers.local
  config/jobs/build-drivers/build-new-amazonlinux.yaml
  config/jobs/build-drivers/build-new-centos.yaml
  config/jobs/build-drivers/build-new-debian.yaml
  config/jobs/build-drivers/build-new-minikube.yaml
  config/jobs/build-drivers/build-new-ubuntu-aws.yaml
  config/jobs/build-drivers/build-new-ubuntu-azure.yaml
  config/jobs/build-drivers/build-new-ubuntu-gcp.yaml
  config/jobs/build-drivers/build-new-ubuntu-generic.yaml
  config/jobs/build-drivers/build-new-ubuntu-gke.yaml
Due: none

chore(images): updated update-syscalls PR title.
  images/update-syscalls/entrypoint.sh
Due: none

new(driverkit): deletion of older than six months configs after dbg update
  driverkit/Makefile
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

allow an entry in driverkit FAQ about the drivers website
  driverkit/README.md
  driverkit/drivers_website_screenshot.png
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(config/org.yaml): add hbrueckner as member to lib-maintainers
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(config): set libs release/0.10.0 branch as protected.
  config/config.yaml
Due: none

new(OWNERS): add fededp as owner.
  OWNERS
Due: none

fix(config): fixed driverkit required_status_check.
  config/config.yaml
Due: none

docs: link and improve dbg contribution guide
  README.md
  driverkit/README.md
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(images): updated kernel-crawler image to latest tag.
  images/update-kernels/Dockerfile
Due: none

chore(config): add fededp as test-infra-maintainers to org.
  config/org.yaml
Due: peribolos-pre-submit, peribolos-post-submit

update(images): bump kernel-crawler to 0.5.0.
  images/update-kernels/Dockerfile
  images/update-kernels/entrypoint.sh
Due: none

new(config): added build-drivers jobs for bottlerocket.
  config/jobs/build-drivers/build-new-bottlerocket.yaml
  config/jobs/build-drivers/rebuild-all-bottlerocket.yaml
Due: none

update(images): bumped driverkit to 0.11.0 that enables bottlerocket os support.
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

new(images): porting of dind for multiplatform
  images/docker-dind/Dockerfile
  images/docker-dind/Makefile
Due: none

new(images): porting of driver-builder for multiplatform
  images/build-drivers/Dockerfile
  images/build-drivers/Makefile
Due: build-images-build-drivers
