Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

Path conditions:
  build-drivers-amazonlinux-presubmit: any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux_\.*$
  build-drivers-amazonlinux2-presubmit: any of: ^driverkit/config/(2aa88dcf6243982697811df4c1b484bcbe9488a2|5c0b863ddade7a45568c0ac97d037422c9efb750|85c88952b018fdbce2464222c3303229f5bfcfad|ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7)/amazonlinux2_\.*$
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/

refactor(images/build-drivers/build-drivers.sh): allow to specify kernel version
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

refactor(config/jobs/build-drivers): split jobs file and ubuntu jobs per kernel version
  config/jobs/build-drivers/amazonlinux.yaml
  config/jobs/build-drivers/build-drivers.yaml
  config/jobs/build-drivers/centos.yaml
  config/jobs/build-drivers/debian.yaml
  config/jobs/build-drivers/ubuntu-aws.yaml
  config/jobs/build-drivers/ubuntu-generic.yaml
Due: none

chore(images/build-drivers/build-drivers.sh): rename variables
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

feat(driverkit/config): add 13ec67 driver version (#398)
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.8.0-1031-aws_33.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_5.8.0-52-generic_59.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

amazonlinux2 5.4.117-58.216 support
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

typo fix
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

add previously added configs
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.189.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update: drivers (2021-05-27)
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.8.0-1031-aws_33.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_5.8.0-52-generic_59.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Bump prow from v20210409-7d5e552c49 to v20210521-0713522bd8 (#403)
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

build(config/clusters/terraform_versions.tf): bump aws provider v3
  config/clusters/terraform_versions.tf
Due: none

docs(config/clusters/terraform.md): update versions
  config/clusters/TERRAFORM.md
Due: none

Bump prow from v20210521-0713522bd8 to v20210526-84965e233e
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

refactor(tools/terraform.makefile): get tf version from tf versions file
  tools/terraform.Makefile
Due: none

build(config/clusters/eks.tf): upgrade eks module to 17.3.0 without disruption
  config/clusters/eks.tf
Due: none

ci: skip dynamodb point in time recovery scan check
  .circleci/config.yml
Due: none

ci: skip ecr image tag immutability scan check
  .circleci/config.yml
Due: none

Bump prow from v20210521-0713522bd8 to v20210526-84965e233e (#413)
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

unblocking CI attempt
  config/clusters/storage.tf
Due: none

update(driverkit/config): new drivers (2021-06-02)
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-aws_5.8.0-1031-aws_33.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/13ec67ebd23417273275296813066e07cb85bc91/ubuntu-generic_5.8.0-52-generic_59.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.110-54.189.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.117-58.216.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_3.2.0-67-generic_101.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_4.14.232-176.381.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/amazonlinux2_5.4.110-54.182.amzn2.x86_64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-aws_5.11.0-1008-aws_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-126-generic_169.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-150-generic_197.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-23-generic_36.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_3.2.0-67-generic_101.yaml
Due: build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

refactor(images/build-drivers/build-drivers.sh): wip
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

ci(config/jobs/build-drivers): add missing ubuntu dbg job with linux 3
  config/jobs/build-drivers/ubuntu-aws.yaml
  config/jobs/build-drivers/ubuntu-generic.yaml
Due: none

style(images/build-drivers/build-drivers.sh): make indentation uniform
  images/build-drivers/build-drivers.sh
Due: build-images-build-drivers

Bump prow from v20210526-84965e233e to v20210604-95cc9f4b68
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

feat(images/build.sh): add script to build-only images
  images/build.sh
Due: none
