Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

Path conditions:
  build-drivers-amazonlinux-presubmit: any of: ^driverkit\/
  build-drivers-amazonlinux2-presubmit: any of: ^driverkit\/
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/

update(config): protect branch v0.27 of the falco-website
  config/config.yaml
Due: none

Bump prow from v20210401-1e772aaa42 to v20210409-7d5e552c49
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/plank.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

update(OWNERS): add leogr
  OWNERS
Due: none

fix(images/update-falco-k8s-manifests): remove kustomization.yaml before recreating it
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

update(images/update-maintainers): sreedaum info for maintainers.yaml generation
  images/update-maintainers/persons.json
Due: build-images-update-maintainers

updating branch protection tag
  config/config.yaml
Due: none

fixing check-config issues
  config/plugins.yaml
Due: none

fixing whitespacing
  config/plugins.yaml
Due: none

trying to remediate test-infra failures
  config/jobs/update-falco-k8s-manifests/update-falco-k8s-manifests.yaml
  images/update-falco-k8s-manifests/entrypoint.sh
Due: none

adding lifecycle rule for data log storage
  config/clusters/storage.tf
Due: none

testing secret creation with envsubst for slack-API url
  .circleci/config.yml
  tools/deploy_monitoring.sh
Due: none

adding kubeconfig call into monitoring script
  tools/deploy_monitoring.sh
Due: none

install envsubst in the image steps
  .circleci/config.yml
Due: none

update(images/update-maintainers): Kaizhe joined Aurora
  images/update-maintainers/persons.json
Due: build-images-update-maintainers

Add newer Amazon kernel version from EKS
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/amazonlinux2_5.4.105-48.177.amzn2.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(images/update-maintainers): Carlos's company
  images/update-maintainers/persons.json
Due: build-images-update-maintainers

attempting to add a better regex for job additions
  config/jobs/build-drivers/build-drivers.yaml
Due: none

fixing tide mis-match approval bug
  config/plugins.yaml
Due: none

removing plank for autobump
  config/prow/plank.yaml
Due: none

testing new drivers regex AL and AL2
  config/jobs/build-drivers/build-drivers.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.1-1.1.amzn1.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

testing job updates
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.1-1.1.amzn1.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

testing AL linux job testing regex, updating cleanup commands
  config/jobs/build-drivers/build-drivers.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.1-1.1.amzn1.x86_64_1.yaml
  tools/clean_prowjobs.sh
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

forcing driver test
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.17-8.31.amzn1.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

Testing AL2 regex
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux2_4.9.62-10.57.amzn2.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.17-8.31.amzn1.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

testing centos regex
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/centos_2.6.32-71.el6.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

testing debian
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/amazonlinux_4.9.20-11.31.amzn1.x86_64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/debian_3.16.0-6-amd64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit
