Repository falcosecurity/test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit, build-images-autobump, build-images-build-drivers, build-images-golang, build-images-update-jobs, build-images-update-maintainers, echo-hi

Path conditions:
  build-drivers-amazonlinux-presubmit: any of: ^driverkit\/
  build-drivers-amazonlinux2-presubmit: any of: ^driverkit\/
  build-drivers-centos-presubmit: any of: ^driverkit\/
  build-drivers-debian-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-aws-presubmit: any of: ^driverkit\/
  build-drivers-ubuntu-generic-presubmit: any of: ^driverkit\/
  build-images-autobump: any of: ^images/autobump/
  build-images-build-drivers: any of: ^images/build-drivers/
  build-images-golang: any of: ^images/golang/
  build-images-update-jobs: any of: ^images/update-jobs/
  build-images-update-maintainers: any of: ^images/update-maintainers/
  echo-hi: any of: ^config/jobs/echo-hi/

feat(config/clusters/ecr): add aws ecr repository declarations
  config/clusters/ecr.tf
Due: none

feat(tools/deploy_terraform.sh): run terraform import right before applying new desired state
  tools/deploy_terraform.sh
Due: none

fix(tools/deploy_terraform.sh): fix typo
  tools/deploy_terraform.sh
Due: none

update(driverkit/config): new drivers (2021-03-12)
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/debian_4.9.0-15-amd64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/debian_5.10.0-3-cloud-amd64_1.yaml
  driverkit/config/2aa88dcf6243982697811df4c1b484bcbe9488a2/ubuntu-generic_5.11.0-11-generic_12.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/debian_4.9.0-15-amd64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/debian_5.10.0-3-cloud-amd64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/ubuntu-generic_5.11.0-11-generic_12.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/debian_4.9.0-15-amd64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/debian_5.10.0-3-cloud-amd64_1.yaml
  driverkit/config/85c88952b018fdbce2464222c3303229f5bfcfad/ubuntu-generic_5.11.0-11-generic_12.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/debian_4.9.0-15-amd64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/debian_5.10.0-3-cloud-amd64_1.yaml
  driverkit/config/ae104eb20ff0198a5dcb0c91cc36c86e7c3f25c7/ubuntu-generic_5.11.0-11-generic_12.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

update(tools): create AWS ECR repository for test-infra/update-maintainers
  tools/create_ecr.sh
Due: none

fix(tools/deploy_prow.sh): use multiarch aws ebs csi driver kustomization
  tools/deploy_prow.sh
Due: none

Bump prow from v20210305-350f3b2f2e to v20210312-67f589ad7c
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/plank.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

Add Centos8 kernels
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-240.1.1.el8_3.x86_64_1.yaml
  driverkit/config/5c0b863ddade7a45568c0ac97d037422c9efb750/centos_4.18.0-80.el8.x86_64_1.yaml
Due: build-drivers-amazonlinux-presubmit, build-drivers-amazonlinux2-presubmit, build-drivers-centos-presubmit, build-drivers-debian-presubmit, build-drivers-ubuntu-aws-presubmit, build-drivers-ubuntu-generic-presubmit

chore: change the email poiana uses to sign-off auto-bump operations
  config/jobs/autobump/autobump.yaml
  images/autobump/autobump.sh
Due: build-images-autobump

chore: change the email poiana uses for signing-off maintainers list updates
  images/update-maintainers/entrypoint.sh
Due: build-images-update-maintainers

chore: fix typo
  images/autobump/autobump.sh
Due: build-images-autobump

revert(tools/deploy_terraform.sh): remove aws ecr repos import step
  tools/deploy_terraform.sh
Due: none

Bump prow from v20210312-67f589ad7c to v20210319-2181a9e7d7
  config/config.yaml
  config/jobs/check-prow-config/check-prow-config.yaml
  config/prow/branchprotector.yaml
  config/prow/crier.yaml
  config/prow/deck.yaml
  config/prow/ghproxy.yaml
  config/prow/hook.yaml
  config/prow/horologium.yaml
  config/prow/needs-rebase.yaml
  config/prow/plank.yaml
  config/prow/prow-controller-manager.yaml
  config/prow/sinker.yaml
  config/prow/statusreconciler.yaml
  config/prow/tide.yaml
Due: none

new(images): update-deployment-files skeleton
  images/update-deployment-files/Dockerfile
  images/update-deployment-files/Makefile
  images/update-deployment-files/entrypoint.sh
Due: none

update(image/update-deployment-files): generate files by helm template
  images/update-deployment-files/Dockerfile
  images/update-deployment-files/entrypoint.sh
Due: none

feat(config/clusters/ecr): add update-deployment-files ecr repository
  config/clusters/ecr.tf
Due: none

new(config/jobs): update deployment files prowjob
  config/jobs/update-deployment-files/update-deployment-files.yaml
Due: none

update(images/build-drivers): switch to use driverkit v0.4.0
  images/build-drivers/Dockerfile
Due: build-images-build-drivers

update: add myself to EKS system:masters
  config/clusters/eks_variables.tf
Due: none

update(config/jobs): build update-deployment-files image
  config/jobs/build-prow-images/build-images.yaml
Due: none

chore(images/update-deployment-files): minor fixes
  config/jobs/update-deployment-files/update-deployment-files.yaml
  images/update-deployment-files/entrypoint.sh
Due: none
